# **A. Customer Nodes Exploration**

<span style="font-size: 14px;"><b>1. How many unique nodes are there on the Data Bank system?</b></span>

In [1]:
SELECT 
	COUNT(DISTINCT(node_id)) as unique_nodes
FROM customer_nodes

unique_nodes
5

<span style="font-size: 14px;"><b>2.What is the number of nodes per region?</b></span>

In [2]:
SELECT 
	r.region_name,
	COUNT(c.node_id) as no_of_nodes,
	COUNT(DISTINCT(c.node_id)) as unique_nodes
FROM customer_nodes c
JOIN regions r
	ON c.region_id = r.region_id
GROUP BY r.region_name

region_name,no_of_nodes,unique_nodes
Africa,714,5
America,735,5
Asia,665,5
Australia,770,5
Europe,616,5

<span style="font-size: 14px;"><b>3. How many customers are allocated to each region?</b></span>

In [3]:
SELECT 
	region_id,
	COUNT(DISTINCT(customer_id)) as unique_nodes
FROM customer_nodes c
	GROUP BY region_id

region_id,unique_nodes
1,110
2,105
3,102
4,95
5,88

In [4]:
SELECT 
	r.region_name,
	r.region_id,
	COUNT(DISTINCT(c.customer_id)) as unique_nodes
FROM customer_nodes c
JOIN regions r
	ON c.region_id = r.region_id
GROUP BY r.region_id, r.region_name

region_name,region_id,unique_nodes
Australia,1,110
America,2,105
Africa,3,102
Asia,4,95
Europe,5,88